
<div class="row">
  <div class="small-12 columns">
    <nav data-ng-controller="navigationController as navigation" class="top-bar-custom">
      <script type="text/ng-template" id="navigation-template.html">
        <div class="row close">
          <div class="small-12 columns"><a ng-click="cancel()" class="close-reveal-modal">&#215;</a></div>
        </div>
        <div class="row">
          <div class="small-12 medium-6 columns">
            <ul class="text-right">
              <li><a href="#/section/abed25284e25e912" focus-me="shouldBeOpen" ng-click="cancel()" class="header2">Arbeidsgiver</a></li>
              <li><a href="#/section/abed25284e25e912" ng-click="cancel()" class="header2">Økonomi og tall</a></li>
              <li><a href="#/section/abed25284e25e912" ng-click="cancel()" class="header2">Samfunn og demokrati</a></li>
              <!--li: a.header2.selected(href="#/samfunn", ng-click="cancel()") Samfunn og demokrati-->
              <li><a href="#/section/abed25284e25e912" ng-click="cancel()" class="header2">Utvikling</a></li>
              <li><a href="#/section/abed25284e25e912" ng-click="cancel()" class="header2">Helse og velferd</a></li>
              <li><a href="#/section/abed25284e25e912" ng-click="cancel()" class="header2">Oppvekst og utdanning</a></li>
              <li><a href="#/section/abed25284e25e912" ng-click="cancel()" class="header2">Digitalisering</a></li>
              <li><a href="#/section/abed25284e25e912" ng-click="cancel()" class="header2">FOU</a></li>
              <li><a href="#/section/abed25284e25e912" ng-click="cancel()" class="header2">Regionsider</a></li>
              <li><a href="#/section/abed25284e25e912" ng-click="cancel()" class="header2">Om KS</a></li>
              <li><a href="#/section/abed25284e25e912" ng-click="cancel()" class="header2">KS advokatene</a></li>
              <li><a href="#/section/abed25284e25e912" ng-click="cancel()" class="header2">Kontakt oss</a></li>
              <li><a href="#/section/abed25284e25e912" ng-click="cancel()" class="header2">English</a></li>
            </ul>
          </div>
          <div class="small-12 medium-6 columns">
            <div class="row">
              <div class="small-12 medium-6 columns"><a href="#" class="block"><img src="img/stortinget.jpg" alt=""/>
                  <h2 class="header3">KS krever rettferdig barnehagefinnansiering</h2></a></div>
              <div class="small-12 medium-6 columns"><a href="#"><img src="img/eldrepleie.jpg" alt=""/>
                  <h2 class="header3">KS møtte kommunalministeren</h2></a></div>
            </div>
            <!--
            ul
                li: a.header2(href="#/tema", ng-click="cancel()") Arbeidgivermonitor
                li: a.header2(href="#/tema", ng-click="cancel()") Arbeidgiverpolitikk og ledelse
                li: a.header2(href="#/tema", ng-click="cancel()") Arbeidsmiljø og IA
                li: a.header2(href="#/tema", ng-click="cancel()") Kompetanse og rekruttering
                li: a.header2(href="#/tema", ng-click="cancel()") Lov og avtaleverk
                li: a.header2(href="#/tema", ng-click="cancel()") Lønn og tariff
                li: a.header2(href="#/tema", ng-click="cancel()") Lønn og personal
            -->
            <div class="row">
              <div class="small-12 columns">
                <div class="element">
                  <div class="row">
                    <div class="small-12 columns text-center">
                      <hr class="cling-to-top"/><span class="stack-icon-snarvei absolute less"><span class="layer1"></span><span class="layer2"></span></span>
                      <h3 class="header4 keep-from-icon less">Snarveier</h3>
                    </div>
                  </div>
                  <ul class="link-list shortcuts">
                    <li><a href="#">Hovedtariffavtalen</a></li>
                    <li><a href="#">Kommunereformen</a></li>
                    <li><a href="#">Kommit</a></li>
                    <li><a href="#">Satser</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </script>
      <ul class="title-area">
        <li class="logo left"><a href="#/"><img src="/img/logo.svg" width="90" class="logo"/></a>
          <!-- span {{navigation.selected}}-->
        </li>
        <li class="menu-wrapper right"><a ng-click="navigation.open()"><span class="icon-menu"></span></a></li>
        <li class="search-wrapper right"><a href="#/sok" ng-click="console.log('search...')"><span class="icon-search"></span></a></li>
      </ul>
    </nav>
  </div>
</div>